.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Success {
  color: #454d66;
}

.Danger {
  color: #cc2d2d;
}
.Hero {
  color: white;
  border-radius: 10px;
  background: #1ac0c6;
  width: 15rem;
  height: 4rem;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
