.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Success {
  color: #454d66;
}

.Danger {
  color: #cc2d2d;
}
.Hero {
  color: white;
  border-radius: 10px;
  background: #1ac0c6;
  width: 15rem;
  height: 4rem;
}

.AuthSuccess {
  color: #454d66;
  margin-top: 2rem;
}
.AuthDanger {
  color: #cc2d2d;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

@media (min-width: 600px) {
  .AuthSuccess {
    margin-top: 2rem;
  }
  .AuthDanger {
    margin-top: 2rem 1rem;
  }
}
