.Counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  border-style: solid;
  border-color: #facd60;
  padding: 0.5rem;
}

.Counter button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 40px;
  border: 1px solid #454d66;
  cursor: pointer;
  outline: none;
}

.Counter button:disabled {
  background-color: #adb2bb;
  border: 1px solid #e6e4e3;
  color: rgb(85, 76, 76);
  cursor: default;
}

.Counter button:hover:disabled {
  background-color: #d0ddf0;
  color: rgb(85, 76, 76);
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.Input {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0;
  width: 40px;
  border: 1px solid #facd60;
  cursor: pointer;
  outline: none;
  text-align: center;
}

.Counter .Minus {
  background-color: #aa0f0f;
  color: white;
}

.Counter .Plus {
  background-color: #2b1894;
  color: white;
}

.Counter .Minus:hover,
.Counter .Minus:active {
  background-color: #bb3d58;
  color: white;
}

.Counter .Plus:hover,
.Counter .Plus:active {
  background-color: #557fd8;
  color: white;
}

.CounterBoard {
  width: 80vw;
  height: 60vh;
  display: flex;
  background-color: #fb7756;
  flex-flow: column;
  align-items: center;
  border: 1px solid rgb(200, 200, 238);
  box-shadow: 1px 2px 1px 2px grey;
  margin: auto;
  padding: 10px 0;
  margin-top: 2rem;
}

.OrderButton {
  background-color: #facd60;
  outline: none;
  cursor: pointer;
  border: 1px solid #facd60;
  color: #0c0b13;
  padding: 0.5rem 3rem;
  box-shadow: 2px 2px 2px #0b021a;
  margin-top: 0.5rem;
}

.OrderButton:hover,
.OrderButton:active {
  background-color: #dbb535;
  border: 1px solid #b89934;
  color: #151625;
}

.OrderButton:disabled {
  background-color: #c7c6c6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}

@media only screen and (min-width: 500px) {
  .CounterBoard {
    width: 60vw;
    margin-right: 1rem;
    margin-top: 7rem;
  }
  .Counter {
    padding: 0.5rem 1rem;
  }
  .OrderButton {
    margin-top: 0rem;
  }
}
@media only screen and (max-width: 300px) {
  .CounterBoard {
    width: 80vw;
  }
}
