.Main {
  background: linear-gradient(110deg, whitesmoke 57.7%, #facd60 57.7%);
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97.5vh;
}

.CardContainer {
  background: linear-gradient(110deg, white 60%, #facd60 60%);
  margin-top: 7vh;
  width: 70%;
  height: 75vh;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 1px 1px 1px #e4e0e0;
}

.Burger {
  width: 50%;
  height: auto;
  margin: 2rem;
}

.TextContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  text-align: justify;
}

@media (max-width: 600px) {
  .CardContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  .Burger {
    width: 90%;
    height: auto;
    margin-top: -1rem;
  }
  .TextContainer {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 950px) {
  .CardContainer {
    width: 90%;
    background: linear-gradient(110deg, white 57%, #facd60 57%);
    height: 80vh;
  }
  .Header {
    margin: 0.5rem;
    text-align: center;
  }
}
