.CheckoutContainer {
  display: flex;
  flex-direction: column;
}
.CheckoutSummary {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 3rem;
}

.RenderedBurger {
  align-items: center;
}
.ButtonGroup {
  margin-top: 1rem;
}

@media (min-width: 600px) {
  .CheckoutContainer {
    flex-direction: row;
  }
  .CheckoutSummary {
    width: 50%;
  }
}
