.NavItemContainer {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.NavItem {
  color: white;
  margin: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover,
.active {
  color: rgb(116, 77, 224);
  border-bottom: 3px solid rgb(68, 100, 170);
}

@media (min-width: 500px) {
  .NavItemContainer {
    flex-direction: row;
    justify-content: space-around;
  }
}
