.Footer {
  background-color: black;
  color: whitesmoke;
  padding: 0.2rem;
  margin: 0;
}
.Copyright {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: whitesmoke;
  text-align: center;
  background-color: black;
  padding: 0.2rem;
}
.Copyright:before {
  content: "\00a9";
}
